.btn {
    padding-left: 26px;
    padding-right: 26px;
    display: block;
    height: 44px;
    box-shadow: 0 5px 10px rgba(23, 28, 19, 0.5);
    border-radius: 22px;
    background-color: #f2cd44;
    background-image: linear-gradient(to right, #d7ffde 0%, #f1d689 50%, #dc787c 100%);
    @include montserrat-500;
    color: #373737;
    font-size: 22px;
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    transition-duration: 0.2s;
    cursor: pointer;

    &-y {
      background-color: $btn-color;
      background-image: none;
    }
}
