.partners {

  padding-top: 240px;
  padding-bottom: 470px;

  &__title {
    position: relative;
    z-index: 4;

    margin-bottom: 80px;
  }

  &__compass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 414px;
    height: 414px;

    margin: 0 auto;

    // animation: rotateSmall 1s both;

    background: {
      repeat: no-repeat;
      color: transparent;
      image: url('img/svg/compass.svg');
      size: contain;
      position: center;
    }

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 250px;
      height: 250px;

      background-color: #fff;
      border-radius: 50%;

      &-svg {
        fill: #595959;
      }
    }
  }

  &__items {
    position: absolute;
  }

  &__item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 99px;
    height: 99px;

    background-color: #fff;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;

      background: {
        repeat: no-repeat;
        size: auto;
      }
    }

    &-1 {
      top: -95px;
      left: -546px;

      &::after {
        top: 112px;
        left: 61px;

        width: 358px;
        height: 122px;

        background-image: url('img/svg/octopus/line-1.svg');
      }
    }

    &-2 {
      top: 289px;
      left: -312px;

      &::after {
        bottom: 100px;
        left: 100px;

        width: 136px;
        height: 184px;

        background-image: url('img/svg/octopus/line-2.svg');
      }
    }

    &-3 {
      top: 389px;
      left: -15px;

      &::after {
        bottom: 100px;
        left: 0;

        width: 37px;
        height: 172px;

        background-image: url('img/svg/octopus/line-3.svg');
      }
    }

    &-4 {
      top: 214px;
      left: 191px;

      &::after {
        bottom: 63px;
        left: -57px;

        width: 46px;
        height: 145px;

        background-image: url('img/svg/octopus/line-4.svg');
      }
    }

    &-5 {
      top: -68px;
      left: 635px;

      &::after {
        top: 57px;
        right: 100px;

        width: 435px;
        height: 159px;

        background-image: url('img/svg/octopus/line-5.svg');
      }
    }
  }

  &__description {
    position: absolute;
    right: 10%;
    top: 804px;

    max-width: 375px;

    padding: 30px 35px 20px;

    @include montserrat-400;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;

    p {
      margin-bottom: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 87px;
      height: 87px;

      background: {
        repeat: no-repeat;
        color: transparent;
        image: url('img/svg/corner.svg');
        size: contain;
        position: center;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 87px;
      height: 87px;

      background: {
        repeat: no-repeat;
        color: transparent;
        image: url('img/svg/corner.svg');
        size: contain;
        position: center;
      }

      transform: rotate(180deg);
    }
  }
}

@media (max-width: $xlg) {
  .partners {
    padding-bottom: 700px;

    &__item {
      &-5 {
        left: 470px;

        &::after {
          top: 0;
          right: 103px;
          width: 270px;
          background-size: auto;
          background-position: -14px 0;
        }
      }
    }

    &__description {
      top: 970px;
      right: 130px;
    }
  }
}

@media (max-width: $lg) {
  .partners {
    &__item {
      &-1 {
        top: -35px;
        left: -454px;

        &::after {
          top: 10px;
          left: 100px;
          width: 224px;
          background-size: auto;
          background-position: 80% 0;
        }
      }

      &-5 {
        top: -84px;
        left: 383px;

        &::after {
          top: 0;
          right: 83px;
          width: 221px;
          background-position: -24px 0;
        }
      }
    }

    &__description {
      right: 22px;
    }
  }
}

@media (max-width: $md) {
  .partners {
    padding-bottom: 500px;
    &__item {
      &-1 {
        top: 275px;
        left: -201px;
        &::after {
          top: auto;
          bottom: 120px;
          left: 50px;
          width: 50px;
          height: 143px;
          background-image: url('img/svg/octopus/line-1@992.svg');
          background-position: 0;
        }
      }

      &-2 {
        top: 405px;
        left: -137px;
        &::after {
          top: auto;
          bottom: 120px;
          left: 50px;
          width: 24px;
          height: 230px;
          background-image: url('img/svg/octopus/line-2@992.svg');
          background-position: 0;
        }
      }

      &-3 {
        top: 264px;
        left: -33px;
        &::after {
          top: auto;
          bottom: 120px;
          left: 50px;
          width: 7px;
          height: 43px;
          background-image: url('img/svg/octopus/line-3@992.svg');
          background-position: 0;

        }
      }

      &-4 {
        top: 403px;
        left: 76px;
        &::after {
          top: auto;
          bottom: 126px;
          left: 19px;
          width: 23px;
          height: 230px;
          background-image: url('img/svg/octopus/line-4@992.svg');
          background-position: 0;

        }
      }

      &-5 {
        top: 268px;
        left: 145px;
        &::after {
          top: auto;
          bottom: 117px;
          left: -5px;
          width: 49px;
          height: 143px;
          background-image: url('img/svg/octopus/line-5@992.svg');
          background-position: 0;

        }
      }
    }
    &__description{
      position: relative;
      top: 400px;
      right: auto;
      margin: 0 auto;
      padding-left: 50px;
      padding-right: 50px;
      max-width: 500px;
    }
  }
}

@media (max-width: $xs) {
  .partners {

    padding-top: 240px;
    padding-bottom: 470px;
  
    &__title {
      margin-bottom: 80px;
    }
  
    &__compass {
  
      width: 285px;
      height: 285px;
  
  
      &-logo {
  
        width: 165px;
        height: 165px;
  
        &-svg {
          width: 100px;
          height: 100px;
        }
      }
    }
  
    &__item {
  
      width: 80px;
      height: 80px;
      
      img {
        transform: scale(0.8);
      }
      &-1 {
        top: 203px;
        left: -161px;
        &::after {
          bottom: 92px;
          left: 36px;
        }
      }

      &-2 {    
        top: 329px;
        left: -99px;
        &::after {    
          bottom: 90px;
          left: 41px;
        }
      }

      &-3 {    
        top: 205px;
        left: -15px;
        &::after {
          bottom: 91px;
          left: 34px;
        }
      }

      &-4 {
        top: 326px;
        left: 63px;
        &::after {
          bottom: 92px;
          left: 16px;
        }
      }

      &-5 {
        top: 203px;
        left: 127px;
        &::after {    
          bottom: 91px;
          left: -9px;
        }
      }
    }
  
    &__description {
      font-size: 16px;
      max-width: none;
      p {
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: $xxs) {
  .partners {

    padding-top: 240px;
    padding-bottom: 470px;
  
    &__title {
      margin-bottom: 80px;
    }

  
    &__item {
  
      width: 70px;
      height: 70px;
      
      img {
        transform: scale(0.7);
      }
      &-1 {
        top: 207px;
        left: -121px;
        &::after {
          bottom: 81px;
          left: 36px;
          height: 127px;
          
        }
      }

      &-2 {    
        top: 330px;
        left: -83px;
        &::after {    
          bottom: 81px;
          left: 41px;
        }
      }

      &-3 {    
        top: 195px;
        left: -15px;
        &::after {
          bottom: 81px;
          left: 30px;
        }
      }

      &-4 {    
        top: 327px;
        left: 42px;
        &::after {
          bottom: 81px;
          left: 16px;

        }
      }

      &-5 {
        top: 203px;
        left: 88px;
        &::after {    
          bottom: 81px;
    left: -14px;
    height: 122px;
        }
      }
    }
  
    &__description {
      padding: 20px 27px 15px;
      font-size: 14px;
      p {
        margin-bottom: 15px;
      }
      &::before, &::after {
        width: 60px;
        height: 60px;
      }  
    }
  }
}