.promo {

  position: relative;

  z-index: 3;
  padding: 0;
  margin-bottom: -108px;

  display: flex;
  justify-content: space-between;
  align-items: center;


  &-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__island {
    width: 635px;
    height: auto;
  }

  &__rub {
    @include montserrat-400;
    font-size: 288px;
    color: #ffffff;
  }

  &__text {
    // position: absolute;
    // top: 250px;
    // left: 1067px;

    // width: 470px;
    @include arkhip-400;
    text-shadow: 0 19px 3px rgba(27, 41, 47, 0.44);
    color: #ffffff;
    font-size: 80px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  &__boat {
    position: absolute;
    top: 100px;
    left: 1000px;
  }
}

@media (max-width: $xlg) {
  .promo {

    &__island {
      width: 445px;
    }

    &__rub {
      font-size: 200px;
    }

    &__text {
      font-size: 70px;
    }
  }
}

@media (max-width: $lg) {
  .promo {
    margin-bottom: -220px;
    flex-direction: column;

    &-num {
      margin-bottom: 50px;
    }

    &__text {
      font-size: 80px;
    }
  }
}

@media (max-width: $md) {
  .promo {
    margin-bottom: -425px;
    &__rub {
      font-size: 160px;
    }
    &__text {
      font-size: 70px;
    }

  }
}