.ways {
  background-color: #fff;

  &-wrap {
    position: relative;
    padding-top: 5px;
    padding-bottom: 125px;


    &::before {
      content: "";
      position: absolute;
      top: -200px;
      left: -1px;
      right: -1px;
      height: 200px;

      background: {
        repeat: no-repeat;
        image: url('img/svg/main-wave.svg');
        size: cover;
        position: top;
      }
    }


    &::after {
      content: "";
      position: absolute;
      bottom: -70px;
      left: -50px;
      right: -30px;
      height: 500px;
      z-index: 2;

      background: {
        repeat: no-repeat;
        // color: #ffffff;
        image: url('img/svg/top-wave.svg');
        size: cover;
        position: 50% 100%;
      }

      transform: rotate(2deg);
    }
  }

  &__title {
    margin-bottom: 57px;
    z-index: 3;
  }

  &-slider {
    position: relative;
    z-index: 3;

    &-wrapper {
      align-items: center;
    }
  }

  &-slide {
    &__body {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 320px;

      margin: 0 auto;
      margin-bottom: 36px;

      text-align: center;
      @include arkhip-400;
      font-size: 80px;
      color: #467aa6;
      text-transform: uppercase;

      transition-duration: 0.4s;
      transform: scale(0.45);

      strong {
        position: relative;
        z-index: 2;

        &:hover {

          .ways-slide__decor-left,
          .ways-slide__decor-right {
            animation-play-state: paused;
          }
        }
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
        height: 100%;
      }
    }

    &__flag,
    &__decor-left,
    &__decor-right,
    &__info {
      display: none;
    }
  }

  &-slide--active {

    .ways-slide {
      &__body {
        transform: scale(1);
      }

      &__flag,
      &__decor-left,
      &__decor-right {
        display: block;
        position: absolute;

        img {
          object-fit: contain;
        }
      }

      &__flag {
        top: -75px;
        left: 7px;

        width: 46px;
        height: 30px;
      }

      &__decor-left {
        bottom: -119px;
        left: -81px;
        width: 155px;
        height: 170px;
        animation: decorleft 5s ease-in-out infinite alternate;
      }

      &__decor-right {
        top: -50px;
        right: -78px;
        width: 112px;
        height: 123px;
        animation: decorright 3s ease-in-out infinite alternate;
      }

      &__info {
        display: block;
        @include montserrat-300;
        font-size: 30px;
        color: $text-color;
        text-align: center;
      }
    }
  }

  &__arrow {
    left: 50%;
    top: 147px;
    background: none;

    &-svg {
      width: 23px;
      height: 40px;
      fill: transparent;
      stroke: rgb(208, 208, 208);
      stroke-width: 4px;
    }

    &-prev {
      transform: translateX(calc(-50% - 330px))
    }

    &-next {
      transform: translateX(calc(-50% + 330px))
    }
  }
}

@keyframes decorleft {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(30px);
  }
}

@keyframes decorright {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-20px);
  }
}

@media (max-width: $xlg) {
  .ways {
    &-wrap {
      padding-bottom: 142px;
    }
    &-slide--active {
    .ways-slide {
      &__decor-left {
        width: 133px;
        height: 146px;
      }

      &__decor-right {
        width: 96px;
        height: 105px;
      }
    }
  }
}
}