.hot-tours {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    background: {
      repeat: no-repeat;
      image: url('img/static/meduses/medusa-1.png'), url('img/static/meduses/medusa-2.png'), url('img/static/meduses/medusa-3.png');
      position: calc(50% + 300px) 150px, calc(50% + 700px) 300px, calc(50% + 300px) 700px;
    }
  }
  
  &-wrap {
    display: flex;
  }

  .main {
    flex-grow: 2;
    min-width: 0; // чтобы main не выходил за пределы flex-container
    
    &-wrap{
      @include wrap-page;
    }
  }

  .aside {
    flex-shrink: 0;
    width: 305px;
    @include banner-v;
  }
}

@media (max-width: $xlg) {
  .hot-tours {
    &-wrap {
      flex-direction: column;
    }

    .main {
      margin-bottom: 70px;
    }

    .aside {
      width: 100%;
        @include wrap-page;
      @include banner-h;
    }
  }
}

@media (max-width: $md) {
  .hot-tours {
    @include table-v;
    .aside {
      @include banner-v;
    }
  }
}