.one-tour {

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    background: {
      repeat: no-repeat;
      image: url('img/static/bg/bg-palm.png');
      position: 100% 700px;
    }
  }

  &-wrap {
    display: flex;
  }

  &__way {
    display: flex;
    text-align: center;
    font-size: 18px;
    img {
      margin-right: 15px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-around;
    max-width: 485px;
    margin-bottom: 55px;
  }

  p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }

  &-table {
    border-collapse: collapse;

    &__cell {
      padding-top: 10px;
      padding-bottom: 15px;
      padding-right: 20px;
      text-align: left;
      vertical-align: top;

      &.caption{
        @include montserrat-500;
        font-size: 18px;
      }

      &.info{
        @include montserrat-400;
        font-size: 14px;
        line-height: 1.5;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    tfoot {
      border-top: 2px solid #e7b15d;
    }

    &__footer {
      &-cell-wrap {
        padding: 34px 0;
        margin-left: 138px;
        max-width: 630px;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
        @include montserrat-500;
        font-size: 16px;
        color: #373737;
      }

      &-price {
        display: inline-block;
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;

      }

      &-btn {
        @include small-btn;
      }
    }
  }

  .gallery {
    // min-width: 0;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .main {
    flex-grow: 2;
    padding: 20px 0 50px;
    min-width: 0; // чтобы main не выходил за пределы flex-container

    &-wrap {
      @include wrap-page;
    }
  }

  .aside {
    flex-shrink: 0;
    width: 305px;
    @include banner-v;
  }
}

@media (max-width: $xlg) {
  .one-tour {
    &-wrap {
      flex-direction: column;
    }

    .aside {
      width: 100%;
      @include wrap-page;
      @include banner-h;
    }
  }
}

@media (max-width: $md) {
  .one-tour {
    .aside {
      @include banner-v;
    }
  }
}

@media (max-width: $sm) {
  .one-tour {
    &__paragraph {
      font-size: 14px;
    }
    &-table {
  
      &__cell {
  
        &.caption{
          font-size: 15px;
        }
  
        &.info{
          font-size: 13px;
        }
      }
      &__footer {
        &-cell-wrap {
          padding: 15px 0;
          font-size: 13px;
        }
  
        &-price {
          font-size: 20px;
        }
  
        &-btn {
          margin-top: 15px;
        }
      }
    }
  }

  
}

@media (max-width: $xs) {
  .one-tour {
    &__info{
      font-size: 12px;
      margin-bottom: 30px;
    }
  &__paragraph {
    font-size: 12px;
    text-align: center;
  }

    &-table {
      &__cell {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      &__footer {
        &-cell-wrap {
          flex-direction: column;
          margin-left: 0;

        }

        &-price {
          margin: 10px 0 0;
        }
  
      }
    }
  }


}
