$title-color: #0a546e;
$article-title-color: #4b778b;
$ways-color: #467aa6;

$red-text-color: #c73124;
$text-color: #444444;

$bg-color: #ededed;

$btn-color: #f2cd44;

// 1/8 col
$col: 12.5%;

$xlg: 1684px;
$lg: 1366px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 450px;

