.ways-page {
  &-wrap {
    display: flex;
    flex-direction: column;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 45px;
    margin-bottom: 45px;
    flex-basis: 50%;

    &__body {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 320px;

      margin: 0 auto;
      margin-bottom: 36px;

      text-align: center;
      @include arkhip-400;
      font-size: 80px;
      color: $ways-color;
      text-transform: uppercase;

      transition-duration: 0.4s;

      strong {
        position: relative;
        z-index: 2;


        &:hover {

          .ways-slide__decor-left,
          .ways-slide__decor-right {
            animation-play-state: paused;
          }
        }
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
        height: 100%;
      }
    }

    &__flag {
      position: absolute;
      top: -75px;
      left: 7px;

      width: 46px;
      height: 30px;

      img {
        object-fit: contain;
      }
    }

  }

  .aside {
    width: 100%;
    @include wrap-page;
    @include banner-h;
  }
}


@media (max-width: $md) {
  $k: 0.8;

  .ways-page {
    &__item {
      margin-top: 25px;
      margin-bottom: 25px;
      &__body {
        height: ($k * 320px);
        margin-bottom: 36px;
        font-size: $k * 80px;
      }

      &__flag {
        top: -60px;
        left: 2px;

        width: ($k * 46px);
        height: ($k * 30px);
      }

    }

    .aside {
      @include banner-v;
    }
  }
}

@media (max-width: $sm) {
  $k: 1;

  .ways-page {
    &__item {
      flex-basis: 100%;
      margin-top: 15px;
      margin-bottom: 15px;

      &__body {
        height: ($k * 320px);
        margin-bottom: 36px;
        font-size: $k * 80px;
      }

      &__flag {
        top: -75px;
        left: 7px;

        width: ($k * 46px);
        height: ($k * 30px);
      }
    }
  }
}

@media (max-width: $xxs) {
  $k: 0.7;

  .ways-page {
    &__item {
      &__body {
        height: ($k * 320px);
        margin-bottom: 36px;
        font-size: $k * 80px;
      }

      &__flag {
        top: -60px;
        left: 2px;

        width: ($k * 46px);
        height: ($k * 30px);
      }
    }
  }
}