@mixin montserrat-100 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
} 
@mixin montserrat-200 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
} 
@mixin montserrat-300 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
} 
@mixin montserrat-400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
} 
@mixin montserrat-500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
} 
@mixin montserrat-600 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
} 
@mixin montserrat-700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} 
@mixin montserrat-800 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
} 
@mixin arkhip-100 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 100;
} 
@mixin arkhip-200 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 200;
} 
@mixin arkhip-300 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 300;
} 
@mixin arkhip-400 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 400;
} 
@mixin arkhip-500 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 500;
} 
@mixin arkhip-600 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 600;
} 
@mixin arkhip-700 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 700;
} 
@mixin arkhip-800 {
    font-family: 'Arkhip', sans-serif;
    font-weight: 800;
} 

@mixin wrap-page {
  padding: 0 155px;

@media (max-width: $lg) {
  padding: 0 20px;
}
@media (max-width: $xs) {
  padding: 0;
}
}