.promo-ind {

  position: relative;

  z-index: 3;
  padding: 0;
  margin-bottom: -108px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: calc(100% - 108px);
  //   background: $bg-color url('img/static/bg/pattern-wave.jpg') repeat;
  // z-index: 1;

  // }


  &-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__island {
    width: 635px;
    height: auto;
  }

  &__rub {
    @include montserrat-400;
    font-size: 288px;
    color: #ffffff;
  }

  &__text {
    // position: absolute;
    // top: 250px;
    // left: 1067px;

    // width: 470px;
    @include arkhip-400;
    text-shadow: 0 19px 3px rgba(27, 41, 47, 0.44);
    color: #ffffff;
    font-size: 80px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  &__boat {
    position: absolute;
    top: -70px;
    left: 1100px;
  }
}

@media (max-width: $xlg) {
  .promo-ind {

    &__island {
      width: 445px;
    }

    &__rub {
      font-size: 200px;
    }

    &__text {
      font-size: 70px;
    }
  }
}

@media (max-width: $lg) {
  .promo-ind {
    margin-bottom: -220px;
    flex-direction: column;
    justify-content: space-between;


    &-num {
      margin-bottom: 50px;
    }

    &__text {
      font-size: 80px;
    }
  }
}

@media (max-width: $md) {
  .promo-ind {
    margin-bottom: -425px;
    &__rub {
      font-size: 160px;
    }
    &__text {
      font-size: 70px;
    }

  }
}
@media (max-width: $sm) {
  .promo-ind {
    margin-bottom: -425px;
    &__island {
      width: 400px;
    }
    &__rub {
      font-size: 145px;
    }
    &__text {
      font-size: 65px;
    }

  }
}
@media (max-width: $xs) {
  .promo-ind {
    margin-bottom: -500px;
    &-num {
      margin-bottom: 25px;
      animation: none;
    }
    &__island {
      width: 315px;
      animation: none;
    }
    &__rub {
      font-size: 120px;
      animation: none;
    }
    &__text {
      font-size: 54px;
      animation: none;
    }

  }
}
@media (max-width: $xxs) {
  .promo-ind {
    margin-bottom: -550px;
    &-num {
      margin-bottom: 10px;
    }
    &__island {
      width: 236px;
    }
    &__rub {
      font-size: 76px;
    }
    &__text {
      font-size: 38px;
    }

  }
}