.feedback {
  max-width: 502px;

  &__title {
    margin-bottom: 20px;
    @include montserrat-500;
    font-size: 18px;
    color: $title-color;
  }

  &-form {
    &__row {
      display: flex;
      justify-content: space-between;
    }

    &__input {
      width: 234px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid #b3b3b3;

      padding-left: 18px;

      @include montserrat-500;
      color: #373737;
      font-size: 16px;
      line-height: 2;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px 3px #8CBFFE;
      }
    }

    &__textarea {
      width: 100%;
      height: 122px;
      border-radius: 10px;
      border: 1px solid #b3b3b3;

      padding: 0 18px;
      margin-top: 30px;
      margin-bottom: 16px;

      @include montserrat-500;
      color: #373737;
      font-size: 16px;
      line-height: 2;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px 3px #8CBFFE;
      }
    }
    &__terms {
      margin-bottom: 16px;

      input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
        &:not(:checked) + label::before {
          // content: "";
          background-color: #fff;
        }
  
        &:checked + label::before {
          // content: "\00B7";
          background-color: $btn-color;
        }

      }

      > label {
        position: relative;
        padding-left: 30px;

        @include montserrat-500;
        font-size: 14px;
        color: #9b9b9b;
        text-align: left;

        &::before {
          content: "";

          position: absolute;
          left: 0;
          top: 2px;

          width: 15px;
          height: 15px;

          border: 2px solid $btn-color;
          border-radius: 50%;
          background-color: #ffffff;
          
          color: $btn-color;
          font-size: 48px;
          line-height: 7px;
        }
        // &::after {
        //   content: "";
        //   display: block;
        //   height: 2px;
        //   width: 0;
        //   margin-left: 17px;

        //   background-color: red;
        //   transition-duration: 0.5s;
        // }

        &.attention::after {
          width: 100%;
        }
      }


    }
    &__btn {
      @include small-btn;
    }
  }
}

@media (max-width: $xs) {

  .feedback {
    &-form{
      &__row {
        flex-direction: column;
      }
      &__input {
        margin-bottom: 15px;
      }
      &__textarea {
        margin-top: 0;
      }
    }
  }
}
