.btn {
  display: block;
  padding-left: 26px;
  padding-right: 26px;
  height: 44px;
  box-shadow: 3px 4px 10px rgba(57, 175, 220, 0.5);
  border-radius: 22px;
  background-color: #f2cd44;
  background-image: linear-gradient(to right, #d7ffde 0%, #f1d689 50%, #dc787c 100%);
  @include montserrat-500;
  color: #373737;
  font-size: 22px;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;

  &-y {
    box-shadow: 0 5px 10px rgba(23, 28, 19, 0.5);
    background-color: $btn-color;
    background-image: none;

    &:hover {
      box-shadow: none;
      border: 1px solid $btn-color;
      background-color: #fff;
      background-image: none;

    }
  }

  &-price {
    box-shadow: none;
    border: 1px solid $btn-color;
    background-color: #fff;
    background-image: none;

    &:hover {
      background-color: $btn-color;
      box-shadow: 0 5px 10px rgba(23, 28, 19, 0.5);

    }
  }

  &:hover {
    box-shadow: none;
  }
}

@mixin small-btn {

  padding-left: 16px;
  padding-right: 16px;
  height: 30px;
  font-size: 13px;
  line-height: 29px;

}

@mixin big-btn {

  padding-left: 35px;
  padding-right: 35px;

  height: 71px;

  border-radius: 36px;
  font-size: 36px;

  @media (max-width: $xs) {

    padding-left: 26px;
    padding-right: 26px;

    height: 44px;

    border-radius: 22px;
    font-size: 22px;
  }

}